<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Minduel utilise le réseau local pour trouver et rejoindre les duels avec d'autres joueurs à proximité.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_minduel-duel._tcp</string>
		<string>_minduel-duel._udp</string>
	</array>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
</dict>
</plist>
